<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>

    <center><ion-img src="assets/lian/img16.jpg"></ion-img></center>
    <h2><b>Lian Benzon</b></h2>
    <h4>Studies at Eastern Visayas State University Carigara Campus</h4>
    <h4> Lives in Carigra, Leyte</h4>
    <h4><b>Work: </b>Former Dermtech at The Executive Facial Care-leyte</h4>
    <h4><b>Gender: </b>Female</h4>
    <h4><b>Religion:</b>Catholic</h4>
    <h4><b>Relationship:</b>In a Relationship</h4>

    </ion-card-content>
  </ion-card>
</ion-content>
